# Dependencies
node_modules

# Nuxt
.nuxt
.output
.data
dist

# Local env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
